database:
    host: 0.0.0.0
    name: name
    user: user
    password: password
    charset: utf8

jobby:
    debug: false
    log: '../logs/command.log'
    schedule: '* * * * *'

spotify:
    client_id: a1b2c3d4
    playlist_pattern: /regexp/
    playlist_user: username

vault_url: https://www.example.com/vault/
