database:
    host: 0.0.0.0
    name: name
    user: user
    password: password
    charset: utf8

jobby:
    debug: false
    log: '../logs/command.log'
    schedule:
        update: '* * * * *'
        new_playlist: '0 0 1 * *'

spotify:
    client_id: a1b2c3d4
    playlist_pattern: /regexp/
    playlist_user: username
    collaborative_user: second_username
    new_playlist_pattern: <sprinf string>

vault_url: https://www.example.com/vault/
